.post-entry pre,
.post-wrap pre,
.post-entry .highlight,
.post-wrap .highlight {
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: #f5f5f5;
  border-width: 1px 0;
  overflow: auto;
  color: #4d4d4c;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}
.post-entry .highlight .gutter pre,
.post-wrap .highlight .gutter pre,
.post-entry .gist .gist-file .gist-data .line-numbers,
.post-wrap .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.8rem;
}
.post-entry h1,
.post-wrap h1,
.post-entry h2,
.post-wrap h2,
.post-entry h3,
.post-wrap h3,
.post-entry h4,
.post-wrap h4,
.post-entry h5,
.post-wrap h5,
.post-entry h6,
.post-wrap h6 {
  margin-top: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eaecef;
  font-weight: bold;
}
.post-entry h1,
.post-wrap h1 {
  font-size: 1.5rem;
}
.post-entry h2,
.post-wrap h2 {
  font-size: 1.3rem;
}
.post-entry h3,
.post-wrap h3 {
  font-size: 1.2rem;
}
.post-entry h4,
.post-wrap h4 {
  font-size: 1.15rem;
}
.post-entry h5,
.post-wrap h5 {
  font-size: 1rem;
}
.post-entry h6,
.post-wrap h6 {
  font-size: 1rem;
  color: color-grey;
}
.post-entry hr,
.post-wrap hr {
  border: 1px dashed #ddd;
}
.post-entry strong,
.post-wrap strong {
  font-weight: bold;
}
.post-entry em,
.post-wrap em,
.post-entry cite,
.post-wrap cite {
  font-style: italic;
}
.post-entry sup,
.post-wrap sup,
.post-entry sub,
.post-wrap sub {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.post-entry sup,
.post-wrap sup {
  top: -0.5rem;
}
.post-entry sub,
.post-wrap sub {
  bottom: -0.2rem;
}
.post-entry small,
.post-wrap small {
  font-size: 0.85rem;
}
.post-entry acronym,
.post-wrap acronym,
.post-entry abbr,
.post-wrap abbr {
  border-bottom: 1px dotted;
}
.post-entry ul,
.post-wrap ul,
.post-entry ol,
.post-wrap ol,
.post-entry dl,
.post-wrap dl {
  font-size: 0.875rem;
  margin: 0 20px;
  line-height: 1.5rem;
}
.post-entry ul ul,
.post-wrap ul ul,
.post-entry ol ul,
.post-wrap ol ul,
.post-entry ul ol,
.post-wrap ul ol,
.post-entry ol ol,
.post-wrap ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.post-entry ul,
.post-wrap ul {
  list-style: disc;
}
.post-entry ol,
.post-wrap ol {
  list-style: decimal;
}
.post-entry dt,
.post-wrap dt {
  font-weight: bold;
}
.post-entry {
  width: 1080px;
  height: 100%;
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 1rem 1rem 0;
}
.post-entry a {
  color: #3273dc;
}
.post-entry a:hover {
  text-decoration: underline;
}
.post-entry,
.post-wrap {
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.post-entry .header,
.post-wrap .header {
  margin-bottom: 1rem;
}
.post-entry .header .title,
.post-wrap .header .title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.post-entry .header .meta,
.post-wrap .header .meta {
  color: #898989;
  font-size: 0.8rem;
}
.post-entry .header .meta a,
.post-wrap .header .meta a {
  font-size: 0.8rem;
  color: #898989;
}
.post-entry .header .meta .item,
.post-wrap .header .meta .item {
  width: 50%;
  margin-bottom: 1rem;
}
.post-entry .header .meta .item a,
.post-wrap .header .meta .item a {
  padding-right: 0.3rem;
}
.post-entry .header .meta .icon,
.post-wrap .header .meta .icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.2rem;
}
.post-entry .quote,
.post-wrap .quote {
  float: right;
}
.post-entry .post-copyright,
.post-wrap .post-copyright {
  font-size: 0.85rem;
  color: #31708f;
  border-radius: 0.2rem;
  background-color: #c7e4f3;
  text-align: left;
  padding: 0.5rem 1rem;
}
.post-entry .post-copyright div,
.post-wrap .post-copyright div {
  padding: 0.3rem;
}
.post-entry .post-guide,
.post-wrap .post-guide {
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}
.post-entry .post-guide .item,
.post-wrap .post-guide .item {
  width: 50%;
}
.post-entry .post-guide .item a,
.post-wrap .post-guide .item a {
  font-size: 0.9rem;
}
.post-entry .post-guide .item .iconfont,
.post-wrap .post-guide .item .iconfont {
  font-weight: 600;
}
.post-entry .post-guide .left,
.post-wrap .post-guide .left {
  justify-content: flex-start;
}
.post-entry .post-guide .right,
.post-wrap .post-guide .right {
  justify-content: flex-end;
}
.post-entry .post-reward,
.post-wrap .post-reward {
  margin: 2rem;
}
.post-entry .post-reward #reward-button,
.post-wrap .post-reward #reward-button {
  cursor: pointer;
  color: #333;
  padding: 0.7rem;
  font-size: 0.9rem;
  border-radius: 0.7rem;
  font-weight: 600;
  transition: all 0.4s;
  background-color: #fed336;
}
.post-entry .post-reward #reward-button:hover,
.post-wrap .post-reward #reward-button:hover {
  color: #fff;
  transform: scale(1.1, 1.1);
}
.post-entry .post-reward #qr,
.post-wrap .post-reward #qr {
  margin: 1rem;
  display: none;
}
.post-entry .post-reward #qr .wrap .bg-wrap,
.post-wrap .post-reward #qr .wrap .bg-wrap {
  text-align: center;
  font-size: 0.8rem;
}
.post-entry .post-reward #qr .wrap .bg,
.post-wrap .post-reward #qr .wrap .bg {
  width: 10rem;
  height: 10rem;
  margin: 0.2rem 1rem;
  display: block;
  border-radius: 0.2rem;
  background-size: cover;
  background-position: center center;
  background-color: #c9c6c1;
}
.post-entry .google-ads,
.post-wrap .google-ads {
  margin-bottom: 2rem;
}
.post-entry #comment,
.post-wrap #comment {
  margin-top: 3rem;
}
.post-entry #comment .info,
.post-wrap #comment .info {
  display: none;
}
.post-entry p,
.post-wrap p,
.post-entry table,
.post-wrap table {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 0.5rem 0;
}
.post-entry ul,
.post-wrap ul,
.post-entry ol,
.post-wrap ol,
.post-entry dl,
.post-wrap dl {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.post-entry img,
.post-wrap img,
.post-entry video,
.post-wrap video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  margin: 1rem 0;
  box-sizing: border-box;
}
.post-entry iframe,
.post-wrap iframe {
  border: none;
}
.post-entry table,
.post-wrap table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.post-entry th,
.post-wrap th {
  font-weight: bold;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5em;
}
.post-entry td,
.post-wrap td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.post-entry blockquote,
.post-wrap blockquote {
  font-size: 0.9rem;
  margin: 0.9rem 0;
  text-align: left;
  padding: 0.5rem 1rem;
  color: #4d4d4c;
  border-radius: 0.2rem;
  background-color: #e3f2fd;
  border-left: 0.45rem solid #1e88e5;
}
.post-entry blockquote footer,
.post-wrap blockquote footer {
  font-size: 1rem;
  margin: 1.5rem 0;
}
.post-entry blockquote footer cite:before,
.post-wrap blockquote footer cite:before {
  content: '—';
  padding: 0 0.5em;
}
.post-entry img,
.post-wrap img {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
}
.post-entry pre,
.post-wrap pre,
.post-entry code,
.post-wrap code {
  font-size: 0.8rem;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
.post-entry code,
.post-wrap code {
  color: #fff;
  font-weight: 600;
  margin: 0 0.5rem;
  background: #42a5f5;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #eee;
}
.post-entry pre code,
.post-wrap pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.post-entry .highlight pre,
.post-wrap .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.post-entry .highlight table,
.post-wrap .highlight table {
  margin: 0;
  width: auto;
}
.post-entry .highlight td,
.post-wrap .highlight td {
  border: none;
  padding: 0;
}
.post-entry .highlight figcaption,
.post-wrap .highlight figcaption {
  font-size: 0.9em;
  color: #066;
  line-height: 2em;
  margin-bottom: 1em;
}
.post-entry .highlight figcaption a,
.post-wrap .highlight figcaption a {
  float: right;
}
.post-entry .highlight .gutter pre,
.post-wrap .highlight .gutter pre {
  text-align: right;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
.post-entry .highlight .line,
.post-wrap .highlight .line {
  height: 1rem;
}
.post-entry .highlight .line.marked,
.post-wrap .highlight .line.marked {
  background: #d6d6d6;
}
.post-entry .gist,
.post-wrap .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #fff;
  padding: 15px 20px 15px 0;
}
.post-entry .gist .gist-file,
.post-wrap .gist .gist-file {
  border: none;
  font-family: Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.post-entry .gist .gist-file .gist-data,
.post-wrap .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.post-entry .gist .gist-file .gist-data .line-numbers,
.post-wrap .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.post-entry .gist .gist-file .gist-data .line-data,
.post-wrap .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.post-entry .gist .gist-file .highlight,
.post-wrap .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.post-entry .gist .gist-file .gist-meta,
.post-wrap .gist .gist-file .gist-meta {
  background: #fff;
  color: #066;
  font: 0.85rem font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1rem;
  margin-left: 20px;
}
pre .title {
  color: #066;
}
pre .comment {
  color: #738191;
}
pre .built_in,
pre .string,
pre .number {
  font-weight: 600;
}
pre .number {
  color: #660e7a;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #a31515;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #008000;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #008000;
}
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  font-weight: 600;
  color: #00f;
}
